<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading en">Mei Shi</h2>
    <h2 class="footer-heading cn">梅石</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name en" >
            Contact
            </li>
            <li class="p-name cn">
              联系方式
              </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
        <a class="page-link en" href="https://www.instagram.com/meishi_art/">
          <i class="fa-brands fa-instagram"></i> Instagram
        </a>
        
        <a class="page-link cn" href="https://www.instagram.com/meishi_art/">
          <i class="fa-brands fa-instagram"></i> 画廊
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
       <div class="en">
          <a class="page-link" href="index.html">Home</a><br>
          <a class="page-link" href="about.html">About</a><br>
          <a class="page-link" href="classes.html">Classes</a><br>
          <a class="page-link" href="portfolio.html">Portfolio</a><br>
          <a class="page-link" href="recognitions.html">Recognitions</a><br>
          <a class="page-link" href="contact.html">Contact</a>

        </div>
        <div class="cn" style="display: none">
          <a class="page-link" href="index.html">主页</a><br>
          <a class="page-link" href="about.html">关于</a><br>
          <a class="page-link" href="classes.html">课程</a><br>
          <a class="page-link" href="portfolio.html">作品集</a><br>
          <a class="page-link" href="recognitions.html">成就</a><br>
          <a class="page-link" href="contact.html">联系方式</a>

        </div>
      </div>
      
    </div>

  </div>

</footer>
