--- 
--- 

@import "minima";


#titleimg {
    width: 35px;
    margin: 13px;
}
.post-content {
    margin-top: -60px;
}
.wrapper {
    max-width: 85vw;
}
.wide {
    max-width: 99.5vw;
    margin-left: -7.7vw;
    margin-bottom: 10px;
    min-height:120px;
    object-fit: cover;
    &.tall {
        min-height: 500px;
    }
}
.banner {
    display: flex;
    justify-content: center;
}
.site-nav {
    z-index: 100
}
.bannertext {
    position: absolute;
    color: white;
    margin-top: 9vw;
    font-size: 5em;
    text-shadow: 1px 1px 2px #111;
    @media (max-width: 768px) {
        margin-top: 5%;
    }
    @media (max-width: 425px) {
        margin-top: -10px;
    }
}
.break {
    @media (max-width: 768px) {
        width: 100%;
        display: block;
    }
}
.boxcontain {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @media (max-width: 768px) {
        display: block;
    }
}

.bigtext {
    font-size: 2em;
    line-height: 1.5em;
    color: white;
    font-family: 'Lora', serif;
    margin: 25px;
}



.flexy {
    position: relative;
    width: 48%;
    &.small {
        width: auto;
        max-height: 100px;
        object-fit: cover;
    }
    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }

    // &.large {
    //     flex-grow: 1.5;
    //     margin-top: 60px;
    //     color: white;
    // }
}
.labelimg {
    width: 40%;
}
.accordion {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.centered {
    width: 100%;
    justify-content: center;
    display: block;
    .small {
        justify-content: center;
    }
}

.box {
    position: relative;
    background: white;
    transition: all .15s ease-in-out;
    margin: 10px 10px 0 0;
    &.small {
        width: 48%;
    }
}


//link boxes.
.center-content {
    justify-content: center;
    display: flex;
    .box {
        max-width: 450px;
        min-width: 200px;
        justify-content: center;
        cursor: pointer;
        box-shadow: 4px 4px 2px#76aed1;
        padding: 15px;
        margin: 10px;
        h3 {
            margin-left: 30px;
        }
        img {
            margin: 5px;
        }
        &:hover {
            box-shadow: 7px 7px 2px#76aed1;
            transition: .3s;
        }
    }
    a {
        color: #0e2b3f;
        &:hover {
            text-decoration: none;
        }
    }
}

.column {
    flex-wrap: wrap;
}